<div class="header pt-2 pt-lg-2 d-flex align-items-center" style="min-height: 300px; background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img width="180"  *ngIf="!this.employe.employe.imagePath.match('http')" src="{{this.imagePath}}/{{this.employe.employe.imagePath}}" class="rounded-circle">
                <img width="180" *ngIf="this.employe.employe.imagePath.match('http')" src="{{this.employe.employe.imagePath}}" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="text-center" style="margin-top:5rem;padding-bottom: 3rem;">
            <h3>
              {{this.employe.employe.name}} {{this.employe.employe.lastName}}<span class="font-weight-light">, {{this.employe.employe.age}}</span>
            </h3>
            <div class="h5 mt-4">
              <span *ngFor="let item of this.employe.roles"><p class="text-success">{{item}}</p></span>
            </div>
          </div>
          <div style="display:flex;justify-content:space-between">
            <span>Total Wage  : <span class="text-danger">{{this.employe.totalWage}}</span></span>
            <span>Total Hours : <span class="text-danger">{{this.employe.totalHours}}</span></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row">
            <div class="col-12" style="display:flex;justify-content:space-between">
              <h3 style="display:inline" class="mb-0">Pay And Personel Details</h3>
              <button class="btn btn-outline-danger" (click)="payEmp()">Pay</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">Personel information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Username</label>
                    <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Username" disabled value="{{this.employe.employe.userName}}">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email address</label>
                    <input type="email" id="input-email" class="form-control form-control-alternative" disabled placeholder="{{this.employe.employe.email}}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Identity Number Of Country</label>
                    <input type="text" id="input-first-name" class="form-control form-control-alternative" disabled placeholder="First name" value="38057212558">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Phone Number</label>
                    <input type="text" id="input-last-name" class="form-control form-control-alternative" disabled placeholder="Last name" value="+90535369258">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Contact information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Address</label>
                    <input id="input-address" class="form-control form-control-alternative" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">City</label>
                    <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="City" value="New York">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Country</label>
                    <input type="text" id="input-country" class="form-control form-control-alternative" placeholder="Country" value="United States">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Postal code</label>
                    <input type="number" id="input-postal-code" class="form-control form-control-alternative" placeholder="Postal code">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Description -->
            <h6 class="heading-small text-muted mb-4">Personel Task</h6>
            <div class="row">
              <div class="col-12">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Date</th>
                      <th scope="col">Vage Hour</th>
                      <th scope="col">Hour State</th>
                      <th scope="col">Task Pay State</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of (this.employe.employe.personelTasks).reverse()">
                      <th scope="row">
                        <div class="media align-items-center">
                          <div class="media-body">
                            <span class="mb-0 text-sm">{{item.currentDatetime}}</span>
                          </div>
                        </div>
                      </th>
                      <td>
                        {{item.wageHours}}
                      </td>
                      <td>
                        <span class="badge badge-dot mr-4" [ngSwitch]="item.wageHourState">
                          <p *ngSwitchCase="false"><i class="bg-danger"></i>Not Accept</p>
                          <p *ngSwitchCase="true"><i class="bg-success"></i>Accepted</p>
                        </span>
                      </td>
                      <td>
                        <span class="badge badge-dot mr-4" [ngSwitch]="item.state">
                          <p *ngSwitchCase="false"><i class="bg-danger"></i>Not Pay</p>
                          <p *ngSwitchCase="true"><i class="bg-success"></i>Payed</p>
                        </span>
                      </td>
                      <td class="text-right">
                        <div ngbDropdown placement="bottom-right">
                          <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                            <i class="fas fa-ellipsis-v"></i>
                          </a>
                          <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                            <a class="dropdown-item" (click)="payTheId(item.id)"
                            routerLinkActive="router-link-active" href="javascript:void(0)">Pay</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

