<app-header></app-header>
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="col-12" style="display:flex;justify-content:space-between">
            <h3 style="display:inline" class="mb-0">Pay And Personel List</h3>
            <a class="btn btn-outline-danger" [routerLink]="['/roleAdd']" routerLinkActive="router-link-active"  >Create Role</a>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Wage</th>
                <th scope="col">Over Time Pay</th>
                <th scope="col">Users</th>
                <th scope="col">Completion</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of this.roleList">
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{item.role.name}}</span>
                    </div>
                  </div>
                </th>
                <td>
                  {{item.role.wage}}
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-success"></i>{{item.role.overtimePay}}
                  </span>
                </td>
                <td>
                  <div class="avatar-group">
                    <a *ngFor="let item of item.employes" href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                      <img alt="Image placeholder" *ngIf="!item.imagePath.match('http')" src="{{this.imagePath}}/{{item.imagePath}}" class="rounded-circle">

                      <img alt="Image placeholder" *ngIf="item.imagePath.match('http')" src="{{item.imagePath}}" class="rounded-circle">
                    </a>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">60%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" [routerLink]="['/roleUpdate', item.role.id]"
                      routerLinkActive="router-link-active" href="javascript:void(0)">Update</a>
                      <a class="dropdown-item" href="javascript:void(0)">Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
